%li.disabled
  = link_to messages_dashboard_path do
    = fa_icon "comments-o"
    %span.hidden-xs.hidden-sm= "Messages"

%li{class: (params[:action] == "dashboard") ? "active" : nil}
  = link_to messages_dashboard_path do
    = fa_icon "tachometer"
    %span.hidden-xs.hidden-sm Dashboard

%li{class: (params[:action] == "unread") ? "active" : nil}
  = link_to unread_messages_path do
    = fa_icon "envelope"
    %span.hidden-xs.hidden-sm Unread Messages

%li{class: (params[:action] == "index") ? "active" : nil}
  = link_to messages_path do
    = fa_icon "envelope-open-o"
    %span.hidden-xs.hidden-sm All Messages

%li{class: (params[:controller] == "messages" && params[:action] == "new") ? "active" : nil}
  = link_to new_message_path do
    = fa_icon "plus-square"
    %span.hidden-xs.hidden-sm New Message

%li{class: (params[:controller] == "blasts" && params[:action] == "new") ? "active" : nil}
  = link_to new_blast_path do
    = fa_icon "users"
    %span.hidden-xs.hidden-sm New Blast

%li.disabled{class: true}
  = link_to messages_dashboard_path do
    = fa_icon "question"
    %span.hidden-xs.hidden-sm Something Else?
