<div class="main_section">
  <div class="container">
    <div class="chat_container">
      <div class="col-sm-12 message_section">
        <div class="row">
          <div class="new_message_head">
            <div class="pull-left">
              <button>Messages from <%= params[:id] %></button>
            </div>            
            <div class="pull-right">
              <%= link_to "Back to Conversations", messages_path %>
            </div>
          </div><!--new_message_head-->
          <div class="chat_area">
            <ul class="list-unstyled thread" data-number="<%= params[:id] %>" >
              <%= render @messages %>
            </ul>
          </div><!--chat_area-->
          <div class="message_write">
            <%= render 'form' %>
          </div>
        </div>
      </div><!--message_section-->
    </div>
  </div>
</div>
