%li.disabled
  = link_to messages_dashboard_path do
    = fa_icon "trophy"
    %span.hidden-xs.hidden-sm= "Contests"

%li{class: (params[:action] == "dashboard") ? "active" : nil}
  = link_to contests_dashboard_path do
    = fa_icon "tachometer"
    %span.hidden-xs.hidden-sm Dashboard

%li{class: (params[:action] == "current") ? "active" : nil}
  = link_to current_contests_path do
    = fa_icon "envelope"
    %span.hidden-xs.hidden-sm Current Contests

%li{class: (params[:action] == "expired") ? "active" : nil}
  = link_to expired_contests_path do
    = fa_icon "envelope-open-o"
    %span.hidden-xs.hidden-sm Past Contests

%li{class: (params[:action] == "new") ? "active" : nil}
  = link_to new_contest_path do
    = fa_icon "plus-square"
    %span.hidden-xs.hidden-sm New Contest

%li.disabled{class: true}
  = link_to messages_dashboard_path do
    = fa_icon "question"
    %span.hidden-xs.hidden-sm Something Else?
