.page-header
  = link_to conversations_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-arrow-left
    Back

  %h3= "#{@conversation.my_number.name} => #{@conversation.from_number.number}"
  %p= "Notes:#{@conversation.notes}"
%dl.dl-horizontal
  #messageChain
    = render('message_chain')

#respondModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = "Send Message to: #{@conversation.from_number.number}"
      .modal-body
        = simple_form_for(@new_message, url: send_message_from_conversation_path, method: :post) do |f|
          = f.error_notification

          .form-inputs
            = f.input :to, :as => :hidden, :input_html => { :value => "#{@conversation.from_number.number}" }
            = f.input :from, :as => :hidden, :input_html => { :value => "#{@conversation.my_number.phone_number.number}" }
            = f.input :body, label: false
            = f.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id }

          .form-actions
            = f.button :submit, "Send Message"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel


- content_for(:sidebar) do
  = render('conversations_sidebar')
