.page-header
  = link_to new_survey_question_type_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Survey question type
  %h1 Listing survey_question_types

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th
        %th
        %th

    %tbody
      - @survey_question_types.each do |survey_question_type|
        %tr
          %td= survey_question_type.name
          %td= survey_question_type.description
          %td= link_to 'Show', survey_question_type
          %td= link_to 'Edit', edit_survey_question_type_path(survey_question_type)
          %td= link_to 'Destroy', survey_question_type, data: { confirm: 'Are you sure?' }, method: :delete
