.page-header
  = link_to survey_questions_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_survey_question_path(@survey_question), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show survey_question

%dl.dl-horizontal
  %dt Survey:
  %dd= @survey_question.survey
  %dt Survey question type:
  %dd= @survey_question.survey_question_type
  %dt Question:
  %dd= @survey_question.question
