= simple_form_for(@survey) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :schedule
    = f.input :status

  .form-actions
    = f.button :submit
